<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
</head>
<body>
    <h1>Task List</h1>
    <form method="POST" action="/">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
    <ul>
        {% for task in tasks %}
            <li>
                <form action="/toggle/{{task.id }}" method="post">
                    <input type="checkbox" name="task" id="task-{{ task.id }}" {{ 'checked' if task.completed else '' }} onchange="this.form.submit()">
                    <label for="task-{{ task.id }}">{{ task.content }}</label>
                    <a href="/delete/{{ task.id }}" style="padding-left: 50px;">X</a>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
